<ion-header >
  <ion-toolbar color="success">
    <ion-title color="tertiary" class="ion-text-center" size-xl="15"> 
Test Login   
    </ion-title>
  </ion-toolbar>
</ion-header><br>
  

<ion-content fullscreen  color="primary">
<div style="position: relative;width:70%; left:15%;">
 <ion-img image-center src="assets/as.png" width="50%"></ion-img>
 </div>
<ion-item color="primary" >
  <ion-label position="stacked" color="tertiary">Username</ion-label>
  <ion-input required type="text" oninput="handleFirstNameValue(event)"><ion-icon slot="end" name="contact" color="tertiary"></ion-icon> </ion-input>
</ion-item><br>
<ion-item color="primary">

  <ion-label position="stacked" color="tertiary">Password <ion-text color="tertiary"></ion-text></ion-label>
  <ion-input required type="text" oninput="handleFirstNameValue(event)"><ion-icon slot="start" name="key" color="tertiary"></ion-icon> </ion-input>
</ion-item><br>

  <ion-button expand ="block" color="light" (click)="onTuTest()">Login</ion-button><br>
      <ion-button expand="block"  color="warning" (click)="go()">Register</ion-button>
      <div style="position: relative;width: 40%; left: 35%;">
<ion-button color="danger" (click)="presentAlert()" ><ion-icon name="logo-facebook" ></ion-icon></ion-button> 
<ion-button color="danger" (click)="presentAlert()"><ion-icon name="logo-google"></ion-icon></ion-button>

</div> 
</ion-content>


























































































<!--<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="dark" class="ion-text-center" size-xl="15"> 
test 
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
 
  <ion-text class="ion-text-center" text size-xl="12">
    <img src="assets/as.png" width="150" height="140">
    <h1>Login</h1>
  </ion-text>
 <br><br>
  <ion-input placeholder=" username" ></ion-input>
  <br>
  <ion-input placeholder=" password"></ion-input>
  <ion-list>
   <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="presentAlert()">Full Button</ion-button>
  <ion-button expand="full" (click)="presentAlert()">Full Button</ion-button>
</ion-content>
 
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="feed">
        <ion-icon name="paper"></ion-icon>
        <ion-label>Feed</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="profile">
         <ion-icon name="contact"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>-->